<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1><%= animal.name%></h1>
    <h1><%= animal.age%></h1>
    <h1><%= animal.species%></h1>
    <a href="/edit/<%= animal.id%>">Edit</a>
    <a href="/delete/<%= animal.id%>">delete</a>
</body>
</html>